

<% layout('boilerplate') %>


<script type="text/javascript">

    function getVals(){
        // Get slider values
        var parent = this.parentNode;
        var slides = parent.getElementsByTagName("input");
        var slide1 = parseFloat( slides[0].value );
        var slide2 = parseFloat( slides[1].value );
        // Neither slider will clip the other, so make sure we determine which is larger
        if( slide1 > slide2 ){ var tmp = slide2; slide2 = slide1; slide1 = tmp; }

        var displayElement = parent.getElementsByClassName("rangeValues")[0];
        displayElement.innerHTML = " " + slide1 + "NIS - " + slide2 + "NIS";
    }

    window.onload = function(){

        // Initialize Sliders
        var sliderSections = document.getElementsByClassName("range-slider");

        for( var x = 0; x < sliderSections.length; x++ ){
            var sliders = sliderSections[x].getElementsByTagName("input");
            for( var y = 0; y < sliders.length; y++ ){
                if( sliders[y].type ==="range" ){
                    sliders[y].oninput = getVals;
                    // Manually trigger event first time to display values
                    sliders[y].oninput();
                }
            }
        }
        var sliderSections = document.getElementsByClassName("range-slider-age");
        for( var x = 0; x < sliderSections.length; x++ ){
            var sliders = sliderSections[x].getElementsByTagName("input");
            for( var y = 0; y < sliders.length; y++ ){
                if( sliders[y].type ==="range" ){
                    sliders[y].oninput = getValAge;
                    // Manually trigger event first time to display values
                    sliders[y].oninput();
                }
            }
        }

    }
    function getValAge(){
        // Get slider values
        var parent = this.parentNode;
        var slides = parent.getElementsByTagName("input");
        var slide1 = parseFloat( slides[0].value );
        // Neither slider will clip the other, so make sure we determine which is larger
        var displayElement = parent.getElementsByClassName("rangeValuesAge")[0];
        displayElement.innerHTML = " " + slide1 ;
    }


    function ValidationAppForm()
    {
        var gender=document.getElementsByName("gender");
        var hobbies=document.getElementsByName("hobbies");

        var okayGender=false;
        var okayHobbies=false;
        for(var i=0,l=gender.length;i<l;i++)
        {
            if(gender[i].checked)
            {
                okayGender=true;
                break;
            }
        }
        for(var j=0,l=hobbies.length;j<l;j++)
        {
            if(hobbies[j].checked)
            {
                okayHobbies=true;
                break;
            }
        }
        if(!okayHobbies)
        {
            alert("please insert hobbies !");
            return false;
        }
        if(!okayGender)
        {
            alert("please insert gender ");
            return false;
        }

        //    if (okayGender&&okayHobbies) return true;

    }
    //b


</script>

<body style="background-color: #fafafa;">
<div class="jumbotron">
    <div class="text-center">
        <h1 style="color: #067c8d">Let's Find The Perfect Gift</h1>
        <h4>Help us find the perfect gift by filling the details listed below</h4>
    </div>
</div>

<div class = "container"style="margin-top:81px; text-align:center;background-color: #fafafa;">

    <form style="background-color: #fafafa;margin-top:6%" name="AppForm" method="post" action="/searchingResult" >

        <div class="form-group" >
            <div id="gender" class="Info"><h4>Select gender:</h4>
                <div style="margin: 0 auto;display: table;" class="inline-items">
                    <i class="fa fa-mars" aria-hidden="true"style="    color: #067c8d;"></i>
                    <input type="radio" id="male" name="gender" value="male"><span>Male</span>
                    <i class="fa fa-venus" aria-hidden="true" style="    color: #067c8d;"></i>

                    <input type="radio" id="female" name="gender" value="female"><span>Female</span>
                    <i class="fa fa-venus-mars" aria-hidden="true"style="    color: #067c8d;"></i>

                    <input type="radio" id="b" name="gender" value="b"><span>Both</span>
                </div>
            </div>
            <hr >
            <div id="Choose price" class="Info">
                <h4>Choose price range:</h4>
                <!--min: <input type="text" name="minPricText"><br>-->

                <!--max: <input type="text" name="maxPricText"><br>-->

                <div class="range-slider"  Sdata-role="rangeslider" >
                    <label for="price-min" >Minimal Price:</label>
                    <input oninput="getVals()" style="width:40%; margin-left: 30%"type="range" name="minPrice" id="minPrice" value="20" min="0" max="1000">
                    <label for="price-max">Maximum Price:</label>
                    <input oninput="getVals()" style="width:40%; margin-left: 30%" type="range" name="maxPrice" id="maxPrice" value="20" min="0" max="1000">
                    <br>
                    <span class="rangeValues"></span>
                </div>
            </div>
            <hr>
            <div id="age" class="Info">
                <h4>Select age:</h4>

                <div class="range-slider-age" data-role="rangeslider">

                    <label for="age" >age:</label>
                    <input oninput="getValAge()"style="width:40%; margin-left: 30%" type="range" name="age" id="age" value="2" min="2" max="130">
                    <br>
                    <span class="rangeValuesAge"></span>
                </div>
                <!--<input type="checkbox" name="age_0_12" value = '1'/>0 - 12<br />-->
                <!--<input type="checkbox" name="age_12_18" value = '1'/>12 - 18<br />-->
                <!--<input type="checkbox" name="age_18_30" value = '1'/>18 - 30<br />-->
                <!--<input type="text" name="ageText"><br>-->
            </div>
            <hr>
            <!--<a class="btn btn-primary" href="#category">Choose interests</a>-->




            <div id="category">
            <div id="hobbis" class="Info row">

                <h4>Select interests:</h4>
                <hr class="btnPC btnForMobile">
                <div id="category1"class="col-md-2">
                    <h4 id="category1h">Leisure:</h4>
                    <% for(var i=0; i<orders1.length; i++) {%>
                    <tr>
                        <td></td>
                        <input type="checkbox" value = <%= orders1[i].interest.toString() %> name="hobbies"/>  <%= orders1[i].interest %><br />
                    </tr>
                    <% } %>
                    <hr class="btnPC btnForMobile">
                </div>

                <div id="category2"class="col-md-2">
                    <h4 id="category2h">Sports & Outdoors:</h4>

                    <% for(var i=0; i<orders2.length; i++) {%>
                    <tr>
                        <td></td>
                        <input type="checkbox" value = <%= orders2[i].interest.toString() %> name="hobbies"/>  <%= orders2[i].interest %><br />
                    </tr>
                    <% } %>
                    <hr class="btnPC btnForMobile">
                </div>

                <div id="category3"class="col-md-2">
                    <h4 id="category3h">Fashion:</h4>
                    <% for(var i=0; i<orders3.length; i++) {%>
                    <tr>
                        <td></td>
                        <input type="checkbox" value = <%= orders3[i].interest.toString() %> name="hobbies"/>  <%= orders3[i].interest %><br />
                    </tr>
                    <% } %>
                    <hr class="btnPC btnForMobile">
                </div>

                <div id="category4"class="col-md-2">
                    <h4 id="category4h">Home & Garden:</h4>

                    <% for(var i=0; i<orders4.length; i++) {%>
                    <tr>
                        <td></td>
                        <input type="checkbox" value = <%= orders4[i].interest.toString() %> name="hobbies"/>  <%= orders4[i].interest %><br />
                    </tr>
                    <% } %>
                    <hr class="btnPC btnForMobile">
                </div>

                <div id="category5"class="col-md-2">
                    <h4 id="category5h">Indoor Interests:</h4>
                    <% for(var i=0; i<orders5.length; i++) {%>
                    <tr>
                        <td></td>
                        <input type="checkbox" value = <%= orders5[i].interest.toString() %> name="hobbies"/>  <%= orders5[i].interest %><br />
                    </tr>
                    <% } %>
                    <hr class="btnPC btnForMobile">
                </div>
                <div id="category6"class="col-md-2">
                    <h4 id="category6h">Life Style:</h4>
                    <% for(var i=0; i<orders6.length; i++) {%>
                    <tr>
                        <td></td>
                        <input type="checkbox" value = <%= orders6[i].interest.toString() %> name="hobbies"/>  <%= orders6[i].interest %><br />
                    </tr>
                    <% } %>
                    <hr class="btnPC btnForMobile">
                </div>

            </div>
            </div>
            <div>
            </div>


            <br>
            <!--<div id="Search" class="Info">
            <input type="button" name="submit" value="Let's Find It" onclick="findApresent()"   class="btn btn-success"	/><br />
            </div>-->
        </div>

        <!--<input type="submit" value="Send" name="submit">-->
        <hr class="un">
        <div class="col-sm-12">


        <input class="btn btn-primary btn-xl page-scroll"type="submit" value = 'Search' name="submit"onclick="return ValidationAppForm()">
       <br>
        </div>
    </form>
    <!---->

</div>
</body>
<!--</body>-->