<% layout('boilerplate') %>
<!--<div id="navigate buttons">-->

<body style="background-color: #fafafa;">


<div class="jumbotron">
    <div  class="text-center">
        <h1 style="color: #067c8d" >THAT'S IT!</h1>
        <h4>These are the gift we found according to your input<br> Now its your turn, all you need to do is to choose.
        <br>Thanks for using our service!</h4>
    </div>
</div>

<div style="margin-top:81px; text-align:center;">


    <div style="margin-top: 4%" class="no-padding" id="portfolio">
        <label>Sort By: </label>
        <select id="sort" onchange="sortResult(this)">-->
            <option value="">Choose:</option>
            <option value="sortByResult">best results</option>
            <option value="sortByPrice">price</option>
            <option value="sortByStore">store</option>
        </select>

        <!--<div class="container-fluid">-->
        <div id="gifts-list" style="width:70%; margin-left: 15%;" class="row no-gutter popup-gallery">


            <% for(var i=0; i<gifts.length; i++) {%>


            <div style="background-color:white;height:500px;align-items: center; "class="col-lg-4 col-sm-6" data-storeId="<%= gifts[i].store_id %>" data-price="<%= gifts[i].price.toString() %>" data-totalScore="<%= gifts[i].tot %>">


                <img style="
    margin: 0 auto;height:33.3%;" src=<%=gifts[i].ImageUrl %> class="img-responsive" alt="">

                <p id='<%= gifts[i].name.toString() %>' name='gift' style="width:70%;margin-left:15%; color: #0b0b0b">
                    <b>  <%= gifts[i].name.toString() %></b><br>
                    <%= gifts[i].price.toString() %> NIS<br>
                    <%= gifts[i].storeName.toString() %>

                </p>

                   <button type="button"  id='b<%= gifts[i].name.toString() %>' onclick="ajaxAddGiftToCart('/searchingResult/IncScore?giftName=<%= gifts[i].name.toString() %>&giftId=<%= gifts[i].id %>&searchInterest=<%= searchInterest %>','<%= gifts[i].id %>')" style="background-color: white;color:#cf484f;width:40px; height: 40px; ">
                       <i class="fa fa-cart-plus" aria-hidden="true" data-sr-id="3" style="font-size:40px;margin-left:-15px; color:#067c8b" ></i>
                   </button> <!--<input  value = 'LIKE' />-->


            </div>
            <% } %>

            <!--</ol>-->
            <!--</div>-->
        </div>
    </div>
</div>
</body>
<script>
    function incQty() {
        var qty = parseInt($("#cartQty").text());
        $("#cartQty").text(qty+1);
        alert("gift added to cart successfully");


    }

    function ajaxAddGiftToCart(myUrl,giftId) {
        $.ajax({
            type: "POST",
            url: myUrl,
            //data: "game-name=" + GAME_NAME,
            success: function (status) {
                ajaxUpdateCart(giftId);
            }

        })
    }

    function ajaxUpdateCart(giftId) {
        $.ajax({
            type: "GET",
            url: "shoppingCart/add-to-cart/"+giftId.toString(),
            //data: "game-name=" + GAME_NAME,
            success: function (status) {
                incQty();

            }

        })
    }


    function sortResult(sel)
    {
        var value = sel.value;
        var gifts = $("#gifts-list > div");
        var sortFunction;

        switch (value) {
            case "sortByResult":
                sortFunction = sortByResult
                // sortByResult();
                break;
            case "sortByPrice":
                sortFunction = sortByPrice
                //   sortByPrice();
                break;
            case "sortByStore":
                sortFunction = sortByStore
                //     sortByStore();
                break;

        }

        if (typeof sortFunction !== "undefined") {
            gifts.sort(sortFunction);

            for (var i = 0; i < gifts.length; i++) {
                gifts[i].parentNode.appendChild(gifts[i]);
            }
        }
    }

    function sortByResult(b,a){return a.attributes['data-totalScore'].value-b.attributes['data-totalScore'].value}
    function sortByPrice(b,a){return b.attributes['data-price'].value-a.attributes['data-price'].value}
    function sortByStore(b,a){return a.attributes['data-storeId']-b.attributes['data-storeId'].value}



</script>

