<style>

    header1 {
        width:40%;
        margin-left: 30%;
        position: relative;
        width: 100%;
        min-height: auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-position: center;
        background-color: lightgrey;
        text-align: center;
        color: dimgrey;
    }
</style>
<% layout('boilerplate') %>
<!--<div id="navigate buttons">-->

<body style="background-color: #fafafa;">
<img src="img/red.jpg" style="width:120%; margin-top: -.5% ">


<header1>




    <!--</div>-->
    <div>

        <h1 style="margin-top: 6%">THAT'S IT!</h1>
        <hr>
        <h5> These are the gift we found according to your input.</h5>
        <h5> Now its your turn, all you need to do is to choose.</h5>
        <h5> Thanks for using our service!</h5>
    </div>
    <div style="margin-top: 4%" class="no-padding" id="portfolio">
        <!--<div class="container-fluid">-->
        <div style="width:80%; margin-left: 15%;" class="row no-gutter popup-gallery">

            <% for(var i=0; i<gifts.length; i++) {%>


            <div style=" background-color:white;width:30%;height:500px;align-items: center; "class="col-lg-4 col-sm-6">
                <!--<a href=<%=gifts[i].ImageUrl %>class="portfolio-box">-->
                <b> <%= gifts[i].name.toString() %></b>

                <img style="margin-left:13.5%;width:auto;height:33.3%;" src=<%=gifts[i].ImageUrl %> class="img-responsive" alt="">


                <button class="btn btn-primary btn-xl page-scroll" onClick="viewGiftDetails('<%= gifts[i].name.toString() %>','<%= gifts[i].price.toString() %>','<%= gifts[i].storeName.toString() %>')" name="gift"> more Details </button><br />
                <form id='f<%= gifts[i].name.toString() %>'  method="post" action="/searchingResult/IncScore?giftName=<%= gifts[i].name.toString() %>&giftId=<%= gifts[i].id %>&searchInterest=<%= searchInterest %>" >
                    <p id='<%= gifts[i].name.toString() %>' name='gift' style="width:70%;margin-left:15%;display: none; color: #0b0b0b"></p>

                    <!--<button id='b<%= gifts[i].name.toString() %>' style="display: none;">I like It</button>-->
                    <input type="submit"  id='b<%= gifts[i].name.toString() %>' style="margin-left:20%;display: none;" value = 'LIKE' />
                </form>

            </div>
            <% } %>

            <!--</ol>-->
            <!--</div>-->
        </div>
    </div>
</header1>
</body>
<script>
    function  viewGiftDetails(giftName,giftPrice,giftStore)
    {
        var moreDetailsP=document.getElementById(giftName);
        moreDetailsP.innerHTML='' +
            ''+giftName+','+'<br>'+'price:'+giftPrice +' NIS,' +'<br>'+
            'store: '+giftStore;
        var iLikeButton = document.getElementById('b'+giftName);
        //  iLikeButton.style.display = "block";
        if (moreDetailsP.style.display === 'none') {
            moreDetailsP.style.display = 'block';
        } else {
            moreDetailsP.style.display = 'none';
        }
        if ( iLikeButton.style.display === 'none') {
            iLikeButton.style.display = 'block';
        } else {
            iLikeButton.style.display = 'none';
        }
    }



</script>

