<% layout('boilerplate') %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!---->

<div class="jumbotron">
    <div class="text-center">
        <h1 style="color: #067c8d">SHOPPING CART</h1>
    </div>
</div>


<div style="margin-top:81px;">
    <%if (products){%>

    <!--<div class="row">-->

    <ul class="w3-ul w3-card-4"style="width:70%; margin-left: 15%;">
        <!--<div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">-->
        <%for (var i=0;i<products.length;i++){%>
        <li  class="w3-padding-15">
            <span id='sp<%=products[i].item._id%>' onclick="ajaxRemoveFromCart('<%=products[i].item._id%>')" class="w3-button w3-white w3-xlarge w3-right"><i class="fa fa-trash" aria-hidden="true"></i></span>
            <img style="width:60px;" src='<%=products[i].item.ImageUrl %>' class="w3-left w3-circle w3-margin-right" alt="">
            <!--<li class="list-group-item">-->
            <span id='qty<%=products[i].item._id%>' class="badge w3-right"><%=products[i].qty%></span>
            <span class="w3-large"><%=products[i].item.name %><br><%=products[i].item.store_name%></span>


            <span class="label label-success"><%= parseInt(products[i].price)/parseInt( products[i].qty)+ " * "+ products[i].qty +" = "+products[i].price+" " %>nis</span>

        </li>
        <%}%>
    </ul>
</div>

<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3"><br>
        <strong>Total: <%=totalPrice%> nis</strong>

    </div>
</div>
<div class="row">
    <br>
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <button class="btn btn-primary btn-xl page-scroll">CheackOut-will be map</button>
    </div>
</div>
<%}%>

<%if (!products){%>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <h2>No Items In cart</h2>
    </div>
</div>
<%}%>



<script type="text/javascript">

    function ajaxRemoveFromCart(giftId) {
        $.ajax({
            type: "POST",
            url: "/shoppingCart/remove-from-cart/"+giftId.toString(),
            //data: "game-name=" + GAME_NAME,
            success: function (status) {
                decQty(giftId);
//onclick="this.parentElement.style.display='none'"
            }

        })
    }

    function decQty(giftId) {
        var id = 'qty'+ giftId;
       // var spanQty = document.getElementById(id);
        var qty = document.getElementById(id).innerHTML;
        if(qty == '1'){
            var spId = 'sp'+ giftId;
            document.getElementById(spId).parentElement.style.display='none';
        }
        else{
            var qty = parseInt(qty)-1;
            document.getElementById(id).textContent = qty.toString();
        }
       // var qty = parseInt($("#cartQty").text());
        $("#cartQty").text(qty);
        alert("gift removed fron cart successfully");


    }

</script>