<% layout('boilerplate') %>
<div class="jumbotron">
    <div class="container text-center">
        <h1 style="color: #067c8d">Store Manager</h1>
        <h4>A list of all the gifts in the store</h4>
    </div>
</div>
<body style="background-color: #fafafa;">

<!---->
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <!---->
                            <h3 class="panel-title">Gifts List</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <button type="button" onclick="toggleAddNewGiftPopupVisibility(true)" class="btn btn-sm btn-primary btn-create">Add New Gift</button>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <form method="post" action="/stores/importCSV" enctype="multipart/form-data">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <input type="file" id="fileInput" style="display:none;" onchange="this.form.submit()" name="csv_file" />
                                    <button type="button" class="btn btn-default btn-file" data-provides="fileinput" onclick="document.getElementById('fileInput').click();"><i class="fa fa-upload" aria-hidden="true"></i>Import Gifts From CSV</button>
                                </div>
                            </form>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <form method="get" action="/stores">
                                <button type="submit" class="btn btn-sm btn-primary btn-create"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
                            </form>
                        </div>
                    </div>
                    <input type="text" id="searchInput" onkeyup="searchGifts()" placeholder="Search for stores.." title="Type in a name" >
                </div>
            </div>
        </div>

        <div class="panel-body" style="margin: auto">

            <div class="container" style="display: inline;">
                <div id="gifts_container_row" class="row">
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" >
    window.onload = loadGifts();

    window.onclick = function(event) {
        if (event.target == document.getElementById('popup_add_new_gift')) {
            toggleAddNewGiftPopupVisibility(false);
        }

        if (event.target == document.getElementById('popup_edit_gift')) {
            toggleEditGiftPopupVisibility(false);
        }
    }

    function loadGifts() {
        var content = '';
        var av_gifts = <%- JSON.stringify(available_gifts) %>;
        var giftsNumber = av_gifts.length;
        for(var i = 0; i < giftsNumber; i++)
        {
            content+='<div id="row-' + i + '" class="col-sm-12 col-xs-12 col-md-4 col-lg-3" style="display: inline-block;">';
            content+=   '<div class="thumbnail bootsnipp-thumb">';
            content+=       '<div style="display: inline">';
            content+=           '<p class="lead snipp-title" >';
            content+=               '<h3 style="vertical-align: top;text-align: center">' + av_gifts[i].name + '</h3>';
            content+=           '</p>';
            content+=       '</div>';
            content+=   '<div style="overflow:hidden;width:150px;margin-left: auto;margin-right: auto;">';
            content+=       '<a style="height:100%;width:100%;max-width: 150px;margin-left: auto;margin-right: auto;">';
            content+=           '<img src="' + av_gifts[i].ImageUrl + '">';
            content+=       '</a>';
            content+=   '</div>';
            content+=   '<div>';
            content+=       '<p class="lead snipp-title">';
            content+=           '<h4>Price:'  + av_gifts[i].price + '₪</h4>';
            content+=       '</p>';
            content+=   '</div>';
            content+=   '<div class="row" style="display: inline;margin-left: auto;margin-right: auto;">';
            content+=        '<button href="#" class="btn btn-primary a-btn-slide-text" type="button" onclick="showEditGiftPopup(' + i + ')">';
            content+=           '<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>';
            content+=           '<span>Edit</span>';
            content+=        '</button>';
            content+=        '<span>  </span>';
            content+=        '<button href="#" class="btn btn-primary a-btn-slide-text" type="button" onclick="deleteGift(' + i + ')">';
            content+=           '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>';
            content+=           '<span>Delete</span>';
            content+=        '</button>';
            content+=   '</div>';
            content+='</div>';
            content+='</div>';
        }

        var gifts_container_row = document.getElementById("gifts_container_row");
        gifts_container_row.innerHTML = content;
    }
</script>

<script type="text/javascript" >

    function deleteGift(giftIndex)
    {
        var av_gifts = <%- JSON.stringify(available_gifts) %>;
        var selectedGift = av_gifts[giftIndex];
        var selectedGiftName = selectedGift.name;
        var selectedGiftID = selectedGift.prod_id;
        var isDeletionConfirmed = showDeleteConfirmationDialog(selectedGiftName);
        if(isDeletionConfirmed){
            post('/stores/deleteGift', {gift_id: selectedGiftID});
        }
    }
</script>

<script type="text/javascript" >
    function showDeleteConfirmationDialog(giftName){
        var x = confirm("Are you sure you want to delete the gift: " + giftName + "?");
        if (x)
            return true;
        else
            return false;
    }
</script>

<script type="text/javascript" >
    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

// The rest of this code assumes you are not using a library.
// It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }
</script>

<script type="text/javascript">
    function searchGifts() {
        var input, filter, divs, giftName, i,table;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        var gifts_container_row = document.getElementById("gifts_container_row");
        divs = gifts_container_row.childNodes
        //divs = document.getElementsByClassName("col-sm-12 col-xs-12 col-md-4 col-lg-3");
        for (i = 0; i < divs.length; i++) {
            giftName = divs[i].getElementsByTagName("h3")[0].textContent;
            if (giftName.toUpperCase().indexOf(filter) > -1) {
                divs[i].style.display = "";
            } else {
                divs[i].style.display = "none";
            }
        }
    }
</script>

<!--------------------------------------------------------Add New Gift Popup--------------------------------------------------------------->

<div id="popup_add_new_gift" class="modal">
    <div class="modal-content animate" >
        <div class="imgcontainer">
            <span onclick="toggleAddNewGiftPopupVisibility(false)" class="close" title="Close Popup">&times;</span>
            <img class="img-circle" src="img/gifter.jpg" alt="Add New Gift" class="avatar">
        </div>
<!--
        <form name="addNewGiftForm" class="form-horizontal">
-->
            <!--onsubmit="return validationUserInput()"-->
            <div class="form-group">
                <label for="name" class="cols-sm-2 control-label" >Gift Name</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-gift" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="gift_name" id="add_new_gift_popup_gift_name"  placeholder="Enter gift name"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Gift Id</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="gift_id" id="add_new_gift_popup_gift_id"  placeholder="Enter gift ID as given from Manager"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Price</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="gift_price" id="add_new_gift_popup_gift_price"  placeholder="Enter gift price"required/>
                    </div>
                </div>
            </div>

            <div id="gender_input" class="form-group">
                <label for="username" class="cols-sm-2 control-label">Gender</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                        <div id="add_new_gift_popup_gender_input"  class="radio-group">
                            <input type="radio" id="male" name="gender" value = 'male'/>Male<br>
                            <input type="radio" id="female" name="gender" value = 'female'/>Female<br>
                            <input type="radio" id="b" name="gender" value = 'b' checked="checked"/>Dosen't Metter
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Age</label>
                <div class="cols-sm-10">
                    <div class="input-group" data-role="rangeslider">
                        <span class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></span>
                        <label for="price-min"> min age: </label>
                        <input type="text" name="minAge" id="add_new_gift_popup_minAge" ><br>
                        <label for="price-max">max age: </label>
                        <input type="text" name="maxAge" id="add_new_gift_popup_maxAge" ><br>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="cols-sm-2 control-label" >Gift Image URL</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-gift" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="gift_img_url" id="add_new_gift_popup_gift_img_url"  placeholder="Enter gift image url"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Interests</label>
                <div class="cols-sm-10">
                    <div class="input-group" data-role="rangeslider">
                        <span class="input-group-addon"><i class="fa fa-connectdevelop" aria-hidden="true"></i></span>
                        <div class="dual-listbox">
                            <link href="/dual-listbox/css/dual-listbox.css" rel="stylesheet">
                            <select id = "interests_dual_list_box" class="select1" multiple>
                                <% for(var i=0; i<available_interests.length; i++) {%>
                                <option ><%= available_interests[i].toString() %></option>
                                <% } %>
                            </select>
                            <script>
                                dlb1 = new DualListbox('.select1',{
                                    availableTitle: 'Available Interests',
                                    selectedTitle: 'Selected Interests',
                                    addButtonText: 'Add Interest',
                                    removeButtonText: 'Remove Interest',
                                    addAllButtonText: 'Add All Interests',
                                    removeAllButtonText: 'Remove All Interests',
                                    searchPlaceholder: 'Search Interest...'
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <button type="submit" onclick="/*toggleAddNewGiftPopupVisibility(false);*/addNewGift();" class="btn btn-primary btn-lg btn-block login-button" >Add New Gift</button>
            </div>
<!--
        </form>
-->
    </div>
</div>


<script>
    function toggleAddNewGiftPopupVisibility(isToShowPopup) {
        var popupCreateNewStore = document.getElementById('popup_add_new_gift');
        if(isToShowPopup){
            popupCreateNewStore.style.display = "block";
        }else{
            popupCreateNewStore.style.display = "none";
        }
    }
</script>

<script type="text/javascript">
    function addNewGift(){
        console.log("Add new gift.....");
       // var addNewGiftForm = document.forms.namedItem("addNewGiftForm");
       // var giftID = addNewGiftForm.elements["gift_id"].value;
        var giftID = document.getElementById("add_new_gift_popup_gift_id").value;
        var giftName = document.getElementById("add_new_gift_popup_gift_name").value;
        var minAge = document.getElementById("add_new_gift_popup_minAge").value;
        var maxAge = document.getElementById("add_new_gift_popup_maxAge").value;
        var gender = document.getElementById("add_new_gift_popup_gender_input").querySelector('input[name="gender"]:checked').value;
        var price = document.getElementById("add_new_gift_popup_gift_price").value;
        var imgURL = document.getElementById("add_new_gift_popup_gift_img_url").value;
        var selectedInterests = getSelectedInterestsNewGift();

        post("/stores/addNewGift",{
            gift_id: giftID,
            gift_name: giftName,
            min_age: minAge,
            max_age: maxAge,
            gender: gender,
            price: price,
            gift_img_url: imgURL,
            selected_interests: selectedInterests,
        });
    }

    function getSelectedInterestsNewGift() {
        var results = new Array();
        var selectedListElements = dlb1.selectedList.childNodes;
        for(var i=1; i< selectedListElements.length ; i++){
            results.push(selectedListElements[i].textContent);
        }
        return results;
    }
</script>

<!--------------------------------------------------------Edit Existing Gift Popup--------------------------------------------------------------->

<div id="popup_edit_gift" class="modal">
    <div class="modal-content animate" >
        <div class="imgcontainer">
            <span onclick="toggleEditGiftPopupVisibility(false)" class="close" title="Close Popup">&times;</span>
            <img class="img-circle" src="img/gifter.jpg" alt="Edit Gift" class="avatar">
        </div>

        <div class="form-group">
            <label for="name" class="cols-sm-2 control-label" >Gift Name</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-gift" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="gift_name" id="edit_gift_popup_gift_name"  placeholder="Enter gift name"required/>
                </div>
            </div>
        </div>

        <div class="form-group" id="edit_gift_popup_gift_id_form-group">
            <label for="username" class="cols-sm-2 control-label">Gift Id</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="gift_id" id="edit_gift_popup_gift_id"  placeholder="Enter gift ID as given from Manager"required/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="username" class="cols-sm-2 control-label">Price</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="gift_price" id="edit_gift_popup_gift_price"  placeholder="Enter gift price"required/>
                </div>
            </div>
        </div>

        <div id="gender_input" class="form-group">
            <label for="username" class="cols-sm-2 control-label">Gender</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-venus-mars" aria-hidden="true"></i></span>
                    <div id="edit_gift_popup_gender"  class="radio-group">
                        <input type="radio" id="male" name="gender" value = 'male'/>Male</input><br>
                        <input type="radio" id="female" name="gender" value = 'female'/>Female</input><br>
                        <input type="radio" id="b" name="gender" value = 'b'/>Dosen't Metter</input>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="username" class="cols-sm-2 control-label">Age</label>
            <div class="cols-sm-10">
                <div class="input-group" data-role="rangeslider">
                    <span class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></span>
                    <label for="price-min"> min age: </label>
                    <input type="text" name="minAge" id="edit_gift_popup_minAge" ><br>
                    <label for="price-max">max age: </label>
                    <input type="text" name="maxAge" id="edit_gift_popup_maxAge" ><br>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="cols-sm-2 control-label" >Gift Image URL</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-gift" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="gift_img_url" id="edit_gift_popup_gift_img_url"  placeholder="Enter gift image url"required/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="username" class="cols-sm-2 control-label">Interests</label>
            <div class="cols-sm-10">
                <div class="input-group" data-role="rangeslider">
                    <span class="input-group-addon"><i class="fa fa-connectdevelop" aria-hidden="true"></i></span>
                    <div class="dual-listbox">
                        <link href="/dual-listbox/css/dual-listbox.css" rel="stylesheet">
                        <select id = "interests_dual_list_box" class="select2" multiple>
                            <% for(var i=0; i<available_interests.length; i++) {%>
                            <option ><%= available_interests[i].toString() %></option>
                            <% } %>
                        </select>
                        <script>
                            dlb2 = new DualListbox('.select2',{
                                availableTitle: 'Available Interests',
                                selectedTitle: 'Selected Interests',
                                addButtonText: 'Add Interest',
                                removeButtonText: 'Remove Interest',
                                addAllButtonText: 'Add All Interests',
                                removeAllButtonText: 'Remove All Interests',
                                searchPlaceholder: 'Search Interest...'
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group ">
            <button type="submit" onclick="saveEditedGift();" class="btn btn-primary btn-lg btn-block login-button" >Save Gift</button>
        </div>
        <!--
                </form>
        -->
    </div>
</div>

<script type="text/javascript" >
    function showEditGiftPopup(giftIndex) {
        var av_gifts = <%- JSON.stringify(available_gifts) %>;
        var selectedGift = av_gifts[giftIndex];

        //Update Gift Name:
        var selectedGiftName = selectedGift.name;
        document.getElementById("edit_gift_popup_gift_name").value = selectedGiftName;

        //Update Gift ID:
        var selectedGiftID = selectedGift.prod_id;
        document.getElementById("edit_gift_popup_gift_id").value = selectedGiftID;
        document.getElementById("edit_gift_popup_gift_id_form-group").style.display="none";

        //Update Gift Price:
        var selectedGiftPrice = selectedGift.price;
        document.getElementById("edit_gift_popup_gift_price").value = selectedGiftPrice;

        //Update Gift Gender:
        var selectedGiftGender = selectedGift.gender;
        var genderElements = document.getElementById("edit_gift_popup_gender").childNodes;
        genderElements.forEach(function (element) {
            if(element.tagName && element.tagName.toLowerCase() == 'input'){
                if(element.value != '' && element.value == selectedGiftGender.toLowerCase()){
                    element.checked = true;
                }
            }
        })

        //Update Gift Min Age:
        var selectedGiftMinAge = selectedGift.minAge;
        document.getElementById("edit_gift_popup_minAge").value = selectedGiftMinAge;

        //Update Gift Max Age:
        var selectedGiftMaxAge = selectedGift.maxAge;
        document.getElementById("edit_gift_popup_maxAge").value = selectedGiftMaxAge;

        //Update Gift Image URL:
        var selectedGiftImgURL = selectedGift.ImageUrl;
        document.getElementById("edit_gift_popup_gift_img_url").value = selectedGiftImgURL;

        //Update Gift Interests:
        var selectedGiftInterests = [];
        selectedGift.interests.forEach(function(elem){
            if(elem.dynamicScore >= 1){
                selectedGiftInterests.push(elem.interest);
            }
        });
        setSelectedInterestsEditGift(selectedGiftInterests);

        //Show Edit popup:
        toggleEditGiftPopupVisibility(true);
    }

    function setSelectedInterestsEditGift(selectedInterests) {
        var availebleListElements = dlb2.availebleList.childNodes;
        selectedInterests.forEach(function (interest) {
            for(var i=1; i< availebleListElements.length ; i++){
                if(availebleListElements[i].textContent == interest){
                    dlb2.addSelected(availebleListElements[i]);
                }
            }
        })
    }

    function getSelectedInterestsEditGift() {
        var results = new Array();
        var selectedListElements = dlb2.selectedList.childNodes;
        for(var i=1; i< selectedListElements.length ; i++){
            results.push(selectedListElements[i].textContent);
        }
        return results;
    }

    function saveEditedGift(){
        console.log("Save edited gift.....");
        var giftID = document.getElementById("edit_gift_popup_gift_id").value;
        var giftName = document.getElementById("edit_gift_popup_gift_name").value;
        var minAge = document.getElementById("edit_gift_popup_minAge").value;
        var maxAge = document.getElementById("edit_gift_popup_maxAge").value;
        var gender = document.getElementById("edit_gift_popup_gender").querySelector('input[name="gender"]:checked').value;
        var price = document.getElementById("edit_gift_popup_gift_price").value;
        var imgURL = document.getElementById("edit_gift_popup_gift_img_url").value;
        var selectedInterests = getSelectedInterestsEditGift();

        post("/stores/editGift",{
            gift_id: giftID,
            gift_name: giftName,
            min_age: minAge,
            max_age: maxAge,
            gender: gender,
            price: price,
            gift_img_url: imgURL,
            selected_interests: selectedInterests,
        });
    }

</script>

<script>
    function toggleEditGiftPopupVisibility(isToShowPopup) {
        var popupCreateNewStore = document.getElementById('popup_edit_gift');
        if(isToShowPopup){
            popupCreateNewStore.style.display = "block";
        }else{
            popupCreateNewStore.style.display = "none";
        }
    }
</script>

<script type="text/javascript">
    function ValidationAppForm(){
        var gender=document.getElementsByName("gender");
        var hobbies=document.getElementsByName("hobbies");
        var giftName=document.addNewGiftForm.giftName;
        var giftId=document.addNewGiftForm.giftId;
        var maxAge=document.addNewGiftForm.maxAge;
        var minAge=document.addNewGiftForm.minAge;
        var price=document.addNewGiftForm.price;

        var okayGender=false;
        var okayHobbies=false;

        //Check gift name:
        if (giftName.value=="")
        {
            alert("gift name  please");
            document.addNewGiftForm.giftName.focus() ;
            return false;
        }

        //Check gift ID:
        if (isNaN(giftId.value)||(giftId.value==""))
        {
            alert("prod id  please - must be a number");
            document.addNewGiftForm.giftId.focus() ;
            return false;
        }

        //Check min/max age:
        if (isNaN(maxAge.value)||isNaN(minAge.value)||minAge.value==""||maxAge.value=="")
        {
            alert("enter ages please - must be a number");
            document.addNewGiftForm.minAge.focus() ;
            document.addNewGiftForm.maxAge.focus() ;
            return false;
        }

        if(maxAge.value<=0||minAge.value<=0)
        {
            alert("Age cannot be a negative value/ zero...")
            document.addNewGiftForm.minAge.focus() ;
            document.addNewGiftForm.maxAge.focus() ;
            return false;
        }

        if (maxAge.value<minAge.value)
        {
            alert("Max age mase be bigger then min age !");
            document.Form.minAge.focus() ;
            document.Form.maxAge.focus() ;
            return false;
        }

        //Check price:
        if(isNaN(price.value)||price.value=="")
        {
            alert("The price must to be a number");
            document.addNewGiftForm.price.focus() ;
            return false;
        }

        //Check interests:
        for(var j=0;j < hobbies.length; j++)
        {
            if(hobbies[j].checked)
            {
                okayHobbies=true;
                break;
            }
        }

        if(!okayHobbies)
        {
            alert("Enter the interests please...");
            return false;
        }

        // Check gender:
        for(var i=0;i < gender.length;i++) {
            if(gender[i].checked)
            {
                okayGender=true;
                break;
            }
        }

        if(!okayGender)
        {
            alert("Enter the gender please...");
            return false;
        }
    }

</script>