<% layout('boilerplate') %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
</style>

<div class="jumbotron">
    <div class="container text-center">
        <h1 style="color: #067c8d">MY WISHLISTS</h1>

    </div>
</div>

<div id="mySidenav" class="sidenav" style="position: fixed">
    <!--<a href="#" id="about">About</a><br>-->
    <!--<a href="/wishlist/myEvents" id="myEventsSidenav">My Events</a><br><br><br>-->
    <a href="/wishlist/myFriendsEvents" id="myEventsSidenav">To My Friends Wishlists</a><br>
    <!--<a href="#" id="contact">Contact</a>-->
</div>
<div class="container">

    <div class="row">

        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Events List</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <a href="/wishlist/createEvent" class="btn btn-sm btn-primary btn-create">Create A New Event</a>
                        </div>
                        <div class="col col-xs-6 text-right">
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table id="friends_events_table" class="table table-striped table-bordered table-list">
                        <thead>
                        <tr>
                            <th><em class="fa fa-cog"></em></th>
                            <!--<th class="hidden-xs">Store ID</th>-->
                            <th>Title</th>
                            <th>Description:</th>
                            <th>Date</th>
                            <th>Guests</th>
                            <th>WishList</th>
                        </tr>
                        </thead>
                        <tbody id="stores_table_body">
                        <% for(var i = 0; i< events.length; i++){%>
                        <tr>
                            <th></th>
                            <th><%=events[i].title%></th>
                            <th> <%=events[i].description%></th>
                            <th><%=events[i].event_date%></th>
                            <th><%=events[i].guests.length%> guests <br>
                                <button id="myBtn" onclick="showModal('myModal<%=events[i].id%>')">Show Guests</button>

                                <!-- The Modal -->
                                <div id='myModal<%=events[i].id%>' class="modal">

                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <h4>Your Guests List:</h4><br>
                                        <p><% for (var j=0; j<events[i].guests.length; j++){%>
                                            <b>  <%= events[i].guests[j].username %> :</b> <%= events[i].guests[j].email %> <br>
                                            <%}%>
                                        </p>

                                    </div>

                                </div>

                            </th>
                            <th><%=events[i].gifts.length%> wishlist<br>
                                <button id="myBtnGifts" onclick="showModal('myModalGifts<%=events[i].id%>')">Show Gifts</button>

                                <!-- The Modal -->
                                <div id='myModalGifts<%=events[i].id%>' class="modal">

                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <h4>Your WishList:</h4><br>
                                        <ul id='giftsList<%=events[i].id%>' class="w3-ul w3-card-4"style="width:70%; margin-left: 15%;">
                                            <% for (var k=0; k<events[i].gifts.length; k++){%>
                                            <li class="w3-padding-15">
                                                <img style="width:60px;" src='<%=events[i].gifts[k].ImageUrl %>' class="w3-left w3-circle w3-margin-right" alt="">

                                                <span class="w3-large">  <%= events[i].gifts[k].name %> </span><br>
                                                <span class="w3-large"><%= events[i].gifts[k].store_name %></span><br>
                                                <%= events[i].gifts[k].price %>
                                                <%if (events[i].gifts[k].isMarked == true){%>
                                                <i class="fa fa-check-circle-o" aria-hidden="true">someone bought it for u :)</i>
                                                <%}else{%>
                                                <i class="fa fa-gift" aria-hidden="true"></i>
                                                <%}%>
                                            </li>
                                            <%}%>
                                        </ul>
                                    </div>
                                </div>

                            </th>
                        </tr>
                        <%}%>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!--Create data table-->
<script type="text/javascript">
    $(document).ready(function() {
        $('#friends_events_table').DataTable();
    } );
</script>

<script  type="text/javascript">
    var modal;
    var span = document.getElementsByClassName("close")[0];

    function showModal(eventId) {
        modal = document.getElementById(eventId);

        modal.style.display = "block";

    }

    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }



    var refreshRate = 25000; //mili seconds

    $(function() {
        //prevent IE from caching ajax calls
        $.ajaxSetup({cache: false});
        //The users list is refreshed automatically every second
        setInterval(ajaxEventsList, refreshRate);

    });

    function ajaxEventsList() {
        $.ajax({
            type: "GET",
            url: "/wishlist/refreshMyEvents",
            success: function (data) {
                //incQty();
                updateAllGiftsLists(data);

            }
        })
    }

    function updateAllGiftsLists(events){
        for(var i=0;i<events.length; i++){
            updateEventGiftsList(events[i].id,events[i]);
        }
    }

    function updateEventGiftsList(eventId,event){
        var giftListId = 'giftsList'+eventId;
        $("#"+giftListId).empty();

        for (var k=0; k<event.gifts.length; k++){
            var newLi = document.createElement("li");
            newLi.setAttribute("class","w3-padding-15");

            var newImg =  document.createElement("img");
            newImg.setAttribute("style","width:60px;");
            var imgUrl = event.gifts[k].ImageUrl;
            newImg.setAttribute("src",imgUrl);
            newImg.setAttribute("class","w3-left w3-circle w3-margin-right");
            newImg.setAttribute("alt","");
            newLi.appendChild(newImg);

            var newSpan =  document.createElement("span");
            newSpan.setAttribute("style","width:60px;");
            newSpan.setAttribute("class","w3-large");
            newSpan.textContent = event.gifts[k].name;
            newLi.appendChild(newSpan);


            var br1 =  document.createElement("br");
            newLi.appendChild(br1);

            var newSpan3 =  document.createElement("span");
            newSpan3.setAttribute("class","w3-large");
            newSpan3.textContent = event.gifts[k].store_name;
            newLi.appendChild(newSpan3);

            var newI =  document.createElement("i");
            newI.setAttribute("style","margin-right: 0px;");
            newI.setAttribute("aria-hidden","true");

            var newSpan2 =  document.createElement("span");
            newSpan2.setAttribute("id",eventId);
            newSpan2.setAttribute("name",event.gifts[k].id);
            newSpan2.setAttribute("class","w3-button w3-white w3-xlarge w3-right");

            if (event.gifts[k].isMarked == true){

                console.log(event.gifts[k].isMarked);
                newI.setAttribute("class","fa fa-check-circle-o");
                newI.textContent = "someone bought for you";

            }
            else if(event.gifts[k].isMarked == false){
                console.log(event.gifts[k].isMarked);
                newI.setAttribute("class","fa fa-gift");
            }


            // newSpan2.appendChild(newI);
            newLi.appendChild(newSpan2);
            var br2 =  document.createElement("br");
            newLi.appendChild(br2);

            newLi.appendChild(newI);



            document.getElementById(giftListId).appendChild(newLi);

        }


    }

</script>